<!DOCTYPE html>
{{ with .Site.LanguageCode }}<html lang="{{ . }}" itemscope itemtype="http://schema.org/Article">{{ else }}<html itemscope itemtype="http://schema.org/Article">{{ end }}
<head>

  {{ partial "head.html" . }}

</head>
<body id="body" class="js-convert-emoji">
  {{ partial "head/google_tagmanager_inbody.html" . }}

  <div class="layout__main">

      <div class="row">
        {{ partial "header.html" . }}
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="layout__main-body">
            {{ partial "default-list.html" . }}
          </div>
        </div>

        <div class="col-md-4">
          <div class="layout__main-side">
            {{ partial "side-nav.html" . }}
          </div>
        </div>
      </div>

  </div>

  {{ partial "footer.html" . }}
  {{ partial "foot.html" . }}
</body>
</html>
